## Packages

In [1]:
#importing important packages
import pandas as pd

## Loading

In [2]:
#viewing of dataset
df = pd.read_excel('FarmerWageCleaned_v1.xlsx')

## Cleaning

In [3]:
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1975,Unnamed: 4,Unnamed: 5,1976,Unnamed: 7,Unnamed: 8,1977,...,Unnamed: 125,2016,Unnamed: 127,Unnamed: 128,2017,Unnamed: 130,Unnamed: 131,2018,Unnamed: 133,Unnamed: 134
0,NaN,NaN,NaN,BOTH SEXES,..Male,..Female,BOTH SEXES,..Male,..Female,BOTH SEXES,...,..Female,BOTH SEXES,..Male,..Female,BOTH SEXES,..Male,..Female,BOTH SEXES,..Male,..Female
1,Nominal Wage Rate,ALL FARM WORKERS,PHILIPPINES,6.68,.,.,8.93,.,.,9.72,...,251.11,276.03,278.23,260.78,280.37,284.72,255.8,306.28,310.16,285.51
2,Nominal Wage Rate,ALL FARM WORKERS,..Cordillera Administrative Region (CAR),.,.,.,.,.,.,.,...,270.93,284.02,290.81,271.05,267.3,272.57,256.31,297.75,305.19,281.69
3,Nominal Wage Rate,ALL FARM WORKERS,..Region I (Ilocos Region),6.87,.,.,8.6,.,.,9.84,...,266.18,329.16,331.26,319.01,310.82,312.61,300.05,346.35,352.2,324.9
4,Nominal Wage Rate,ALL FARM WORKERS,..Region II (Cagayan Valley),7.01,.,.,8.96,.,.,9.6,...,286.24,329.05,333.55,329.17,280.16,285.81,265.32,294.63,297.36,285.21
5,Nominal Wage Rate,ALL FARM WORKERS,..Region III (Central Luzon),7.48,.,.,9.55,.,.,10.08,...,304.77,376.5,381.17,352.52,356.71,363.43,317.02,340.14,347.58,303.79
6,Nominal Wage Rate,ALL FARM WORKERS,..Southern Tagalog,7.7,.,.,9.84,.,.,10.47,...,.,.,.,.,.,.,.,.,.,.
7,Nominal Wage Rate,ALL FARM WORKERS,..Region IV-A (CALABARZON),.,.,.,.,.,.,.,...,241.11,326.44,326.86,326.33,370.14,371.72,351.07,373.92,373.82,376.84
8,Nominal Wage Rate,ALL FARM WORKERS,..MIMAROPA Region,.,.,.,.,.,.,.,...,262.38,275.97,280.77,249.42,296.11,307.25,242.9,353.71,373.65,258.61
9,Nominal Wage Rate,ALL FARM WORKERS,..Region V (Bicol Region),6.45,.,.,8.61,.,.,9.62,...,174.34,267.79,269.86,230.22,267.88,270.02,262.44,325.63,328.65,279.22

In [4]:
#Creating list for new column names
#Start year
x = 1975

#Range of years from 1975 to 2018
y = 2018-1974

#Creating list for column names
z = ['Wage Type', 'Farmer Type','Location'] 
for n in range(y):
    z.extend([x+n for i in range(3)])

In [5]:
#Renaming of columns
df.columns = z

In [6]:
#Making first 3 cells of row 1 to blank
df.iloc[0,0] = ""
df.iloc[0,1] = ""
df.iloc[0,2] = ""

In [8]:
#Keeping only necessary non-NA columns
df = df[df['Location'].notna()]

In [9]:
df

,Wage Type,Farmer Type,Location,1975,1975,1975,1976,1976,1976,1977,...,2015,2016,2016,2016,2017,2017,2017,2018,2018,2018
0,,,,BOTH SEXES,..Male,..Female,BOTH SEXES,..Male,..Female,BOTH SEXES,...,..Female,BOTH SEXES,..Male,..Female,BOTH SEXES,..Male,..Female,BOTH SEXES,..Male,..Female
1,Nominal Wage Rate,ALL FARM WORKERS,PHILIPPINES,6.68,.,.,8.93,.,.,9.72,...,251.11,276.03,278.23,260.78,280.37,284.72,255.8,306.28,310.16,285.51
2,Nominal Wage Rate,ALL FARM WORKERS,..Cordillera Administrative Region (CAR),.,.,.,.,.,.,.,...,270.93,284.02,290.81,271.05,267.3,272.57,256.31,297.75,305.19,281.69
3,Nominal Wage Rate,ALL FARM WORKERS,..Region I (Ilocos Region),6.87,.,.,8.6,.,.,9.84,...,266.18,329.16,331.26,319.01,310.82,312.61,300.05,346.35,352.2,324.9
4,Nominal Wage Rate,ALL FARM WORKERS,..Region II (Cagayan Valley),7.01,.,.,8.96,.,.,9.6,...,286.24,329.05,333.55,329.17,280.16,285.81,265.32,294.63,297.36,285.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,Real Wage Rate,Sugarcane Workers,..Region XI (Davao Region),.,.,.,.,.,.,.,...,168.15,177.48,179.34,168.76,285.83,289.39,197.17,307.85,307.85,..
207,Real Wage Rate,Sugarcane Workers,..Central Mindanao,78.57,.,.,77,.,.,82.64,...,.,.,.,.,.,.,.,.,.,.
208,Real Wage Rate,Sugarcane Workers,..Region XII (SOCCSKSARGEN),.,.,.,.,.,.,.,...,143.54,161.55,163.39,146.24,218,218.93,210.15,229.39,230.26,223.83
209,Real Wage Rate,Sugarcane Workers,..Region XIII (Caraga),.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
210,Real Wage Rate,Sugarcane Workers,..Autonomous Region in Muslim Mindanao (ARMM),.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.

In [11]:
df.iloc[0,3:]

1975    BOTH SEXES
1975        ..Male
1975      ..Female
1976    BOTH SEXES
1976        ..Male
           ...
2017        ..Male
2017      ..Female
2018    BOTH SEXES
2018        ..Male
2018      ..Female
Name: 0, Length: 132, dtype: object

In [18]:
#Creating list to clean sex labels
a = ['Both Sexes', 'Male','Female'] 

#Putting cleaned labels y times
df.iloc[0,3:] = a*y

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [19]:
df

,Wage Type,Farmer Type,Location,1975,1975,1975,1976,1976,1976,1977,...,2015,2016,2016,2016,2017,2017,2017,2018,2018,2018
0,,,,Both Sexes,Male,Female,Both Sexes,Male,Female,Both Sexes,...,Female,Both Sexes,Male,Female,Both Sexes,Male,Female,Both Sexes,Male,Female
1,Nominal Wage Rate,ALL FARM WORKERS,PHILIPPINES,6.68,.,.,8.93,.,.,9.72,...,251.11,276.03,278.23,260.78,280.37,284.72,255.8,306.28,310.16,285.51
2,Nominal Wage Rate,ALL FARM WORKERS,..Cordillera Administrative Region (CAR),.,.,.,.,.,.,.,...,270.93,284.02,290.81,271.05,267.3,272.57,256.31,297.75,305.19,281.69
3,Nominal Wage Rate,ALL FARM WORKERS,..Region I (Ilocos Region),6.87,.,.,8.6,.,.,9.84,...,266.18,329.16,331.26,319.01,310.82,312.61,300.05,346.35,352.2,324.9
4,Nominal Wage Rate,ALL FARM WORKERS,..Region II (Cagayan Valley),7.01,.,.,8.96,.,.,9.6,...,286.24,329.05,333.55,329.17,280.16,285.81,265.32,294.63,297.36,285.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,Real Wage Rate,Sugarcane Workers,..Region XI (Davao Region),.,.,.,.,.,.,.,...,168.15,177.48,179.34,168.76,285.83,289.39,197.17,307.85,307.85,..
207,Real Wage Rate,Sugarcane Workers,..Central Mindanao,78.57,.,.,77,.,.,82.64,...,.,.,.,.,.,.,.,.,.,.
208,Real Wage Rate,Sugarcane Workers,..Region XII (SOCCSKSARGEN),.,.,.,.,.,.,.,...,143.54,161.55,163.39,146.24,218,218.93,210.15,229.39,230.26,223.83
209,Real Wage Rate,Sugarcane Workers,..Region XIII (Caraga),.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
210,Real Wage Rate,Sugarcane Workers,..Autonomous Region in Muslim Mindanao (ARMM),.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.